@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto', sans-serif;
    font-variant-numeric: tabular-nums;
}

.FeatureTag {
    margin: 20px;
    display: inline-block;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2),
                0px 2px 4px rgba(0, 0, 0, 0.3);
    padding: 16px;
    border-radius: 2px;
}

.FeatureTag-Header {
    margin-bottom: 12px;
    white-space: nowrap;
    margin-top: 4px;
    font-size: 32px;
    padding-right: 4px;
}

.FeatureTag-Header .Label {
    display: inline-block;
    margin-left: 0px;
    margin-right: auto;
}

.FeatureTag-Header .PercentComplete {
    float: right;
    display: inline-block;
    opacity: 0.4;
    padding-left: 20px;
    margin-left: auto;
    margin-right: 0px;
}

.FeatureTag-Table {
    display: table;
}

.FeatureTag-Row {
    display: table-row;
}

.FeatureTag-Row div {
    display: table-cell;
    padding: 3px;
}

.FeatureTag-TableHeader div {
    text-transform: uppercase;
    opacity: 0.6;
    font-size: 12px;
    font-weight: medium;
}

.FeatureTag .RepoCol {
    display: table-column;
    background-color: green;
}

.FeatureTag-Column {
    display: table-column;
}

.Completed {
    padding-left: 6px;
}

.FeatureTag-Row div:nth-child(1) {
    padding-right: 30px;
}

.FeatureTag-Row div:nth-child(4) {
    padding-right: 30px;
}

.FeatureTag-Row div:nth-child(6) {
    opacity: 0.4;
}

.FeatureTag-Row div:nth-child(7) {
    opacity: 0.4;
}

.FeatureTag-Row div:nth-child(8) {
    opacity: 0.4;
    padding-right: 30px;
}

.FeatureTag-Row div:nth-child(9) {
    padding-right: 20px;
}

.NoDate {
    opacity: 0.3;
}

.Implementation {
    width: 35px;
}

.LowPriority {
    opacity: 0.4;
}

.Bugs {
    width: 33px;
}

